.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  .container{
    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: red;
  }